<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="assets/style.css" type="text/css">
    </head>
    <body>
        <%- include('partials/nav.ejs'); %>
        <h1>welcome to my humble and awesome website</h1>
        <p>very good, very good,very good,very good</p>
    </body>
</html>