body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(57, 126, 51);
    margin-bottom: 4px;
}

button {
    background: rgb(57, 126, 51);
    color: white;
    padding: 10px 20px;
    border-radius: 0.2pc;
    border-style: none;
    font-weight: bold;
    border: 1px solid rgb(57, 126, 51);
}

#clear-btn:active {
    background: rgb(131, 168, 128);
}

#clear-btn {
    background-color: white;
    color: rgb(57, 126, 51);
}

ul {
    margin: 0;
    margin-top: 20px;
    padding-left: 0px;
    list-style: none;
    color: rgb(57, 126, 51);
}

li {
    font-size: 1pc;
    margin-top: 5px;
}

li a {
    color: rgb(57, 126, 51);
}


